1 VERSIONINFO
  FILEVERSION 3,0
  PRODUCTVERSION 3,0
  FILEFLAGSMASK 0X3FL
  FILEFLAGS 0X0L
  FILEOS 0X4L
  FILETYPE 0X1L
  FILESUBTYPE 0X0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "LegalCopyright", "Copyright \251 White Elephant GmbH 2019\0"
      VALUE "FileDescription", "Generate Sky data\0"
      VALUE "OriginalFilename", "Generate.exe\0"
      VALUE "InternalName", "Generate\0"
      VALUE "ProductName", "GNATPRO\0"
      VALUE "ProductVersion", "7.3.1\0"
      VALUE "Libraries", "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END




